.Main {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    padding-bottom: 80px;
}
.Main-wrapper {
    margin: 20px 80px;
    display: flex;
}
.Main-content {
    overflow: hidden;
    margin: auto;
    width: 100%;
}
.toast-top-right {
    top: 132px;
}
/* SIDEBAR */
.Sidebar {
    width: 250px;
    height: 650px;
    border-radius: 10px;
    background: linear-gradient(0deg,#3358f4,#1d8cf8);
    margin-top: 50px;
    position: fixed;
    left: -250px;
    z-index: 999;
    transition: all 0.75s ease-in-out;
}
.Sidebar.open {
    left: 20px;
}
.Sidebar-logo > div {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: #fff;
    padding: 16px 8px;
    position: relative;
}
.Sidebar-logo  > div::after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 200px;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease;
}
.Sidebar-logo:hover > div::after {
    width: 210px;
}
.Sidebar-logo__img {
    margin-right: 10px;
    transform: rotate(-45deg);
    transition: 0.5s all ease;
}
.Sidebar-logo:hover .Sidebar-logo__img {
    transform: rotate(45deg);
}
.Sidebar-logo__text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 5px;
}
.Sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: auto;
    width: 100%;
    height: 85%;
}
.Sidebar-list__item {
    margin: 15px 0;
    transition: all 0.2s ease;
}
.Sidebar-list__item:hover {
    padding-left: 10px;
    background-color: rgba(107, 129, 228, 0.4);
}
.Sidebar-list__item > a {
    color: #dddddd;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 8px 12px 20px;
    line-height: 1.625rem;
    transition: all 0.1s ease;
}
.Sidebar-list__item:hover > a {
    color: #fff;
}


/* HEADER */
.Header {
    height: 120px;
    color: #fff;
    line-height: 1.652rem;
    font-size: 20px;
}
.Header::after {
    content: "";
    background: url("https://storage.googleapis.com/hapokedex.appspot.com/public/header_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.Header::before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.5;
    top: -250px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}
.Header * {
    z-index: 2;
}
.Header-brand {
    color: #ddd;
    font-size: 35px;
    margin-left: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.Header-brand:hover {
    color: #fff;
}

/* FOOTER */
.Footer {
    background: linear-gradient(15deg,#25272e,#475461);
    height: 80px;
    color: #fff;
    line-height: 1.652rem;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .table td {
        padding: 0 5px;
        margin: 0;
    }
    .Main-wrapper {
        margin: 5px 10px;
    }
    .Header {
        height: 80px;
    }
    .Header-brand {
        margin-left: 10px;
    }
    .Sidebar {
      height: auto;
      top: 30px;
      bottom: 80px;
      border-radius: 0;
    }
    .Sidebar.open {
      left: 0;
    }
  }